<div class="jumbotron text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Keep your ideas for youtube videos</p>
    <a href="/ideas/add" class="btn btn-primary btn-md">Add Video</a>
</div>