<div class="card card-body">
    <h3>Edit Video Idea</h3>
    <form action="/ideas/{{idea._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{idea.title}}">
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <input type="text" id="details" class="form-control" name="details" value="{{idea.details}}">
        </div>
        <input type="submit" value="Update" class="btn btn-primary btn-md">
    </form>
</div>