{{#each ideas}}
<div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/ideas/edit/{{_id}}" class="btn btn-primary btn-block">Edit</a>
    <a href="" class="btn btn-danger btn-block">Delete</a>
</div>
{{else}}
<p>No Video Ideas</p>
{{/each}}